<html>
  <head></head>
  <body>

    <% if show %>

        <form>
          True Symbol:<input type='text' name='ts' /><br>
          False Symbol:<input type='text' name='fs' /><br>
          Size (2^x):<input type='text' name='s' /><br>
          <input type='submit' value='Show truth table' />
        </form>
        <a href="/">Reload Page</a>

    <% else %>

      <% if valid %>
        <p>

          <p>
            <%= table %>
          <p>
          <br/><a href="/">Back to main page</a>
        <p>
      <% end %>

    <% end %>

  </body>
</html>
